.page-content
  %section.banner.-community
    .grid-container
      .grid-40
        .color.-translucent-white.padding-1
          %h1.heading.-large
            Medi-Share
          %p
            Medi-Share is a health care choice believers can believe in! Unlike insurance, Medi-Share is health care done God’s way — a community of more than 200,000 believers who share each other’s medical bills. It’s about half the cost of insurance, and you can enroll any time. Plus it’s fully acceptable under the law. Best of all, you never have to pay for things that go against your conscience.
      .grid-60
  %section
    .grid-container
      .centered.grid-100
        %h2.heading.-medium
          How much is Medi-Share?
        %p
          Use the cost calculator to calculate your monthly portion. If you so choose, you can continue with the registration process from there.
        = link_to 'Calculate Your Medi-Share Cost', medi_share_registration_url, :class => 'button -bright -large', :target => '_blank'
  %section.blue-herring
    .grid-container
      .grid-100
        %h2.heading.-medium
          Why Medi-Share?
        %p
          Medi-Share is affordable, Biblical, and penalty free. Although it is not insurance, being based on the principle of sharing medical needs as a Christian community, Medi-Share members are exempt from the Affordable Care Act mandate to purchase insurance or face financial penalties.
        = link_to 'Learn More about Medi-Share', medi_share_information_url, :class => 'button -dark -large', :target => '_blank'
  %section.color.-dark-cerulean.padding-bt1
    .grid-container
      .grid-100
        %h2.heading.-medium.margin-b0.t-white
          Frequently Asked Questions
  %section.padding-t3
    .grid-container
      .grid-100
        - @faqs.each do | faq |
          .expandable.js-expandable
            .expandable__shown
              %h3.expandable__title
                %span.fa.fa-caret-right.expandable__arrow.js-expandable-arrow
                = faq.question
            .expandable__hidden.js-expandable-hidden
              = simple_format( faq.answer )
  %section.blue-herring
    .grid-container
      .grid-100
        %h2.heading.-medium
          Medi-Share Providers
        %p
          Medi-Share has over 700,000 providers nationwide. You can search the Medi-Share provider database to see which providers are available near you.
        = link_to 'Search Medi-Share Providers', medi_share_providers_url, :class => 'button -dark -large', :target => '_blank'
  %section
    .grid-container
      .centered.grid-100
        %h2.heading.-medium
          Are you ready to sign up for Medi-Share?
        %p
          It's easy to begin the registration process.
        = link_to 'Register for Medi-Share', medi_share_registration_url, :class => 'button -bright -large', :target => '_blank'
  %section.blue-herring
    .grid-container
      .grid-100
        %p.t-small
          Medi-Share is not insurance or an insurance policy, nor is it offered through an insurance company. Whether anyone chooses to assist you with your medical bills will be totally voluntary, as no other member will be compelled by law to contribute toward your medical bills. As such, Medi-Share should never be considered to be insurance. Whether you receive any payments for medical expenses and whether or not Medi-Share continues to operate, you are always personally responsible for the payment of your own medical bills. Medi-Share is not subject to the regulatory requirements or consumer protections of your particular state’s Insurance Code or Statutes.
  %section
    .grid-container
      .grid-100.centered
        %h2.heading.-medium
          Still have questions about Medi-Share?
        %p
          As approved Medi-Share New Member Representatives, we are equipped to answer any additional questions you may have regarding Medi-Share.
        = link_to 'Contact Us about Medi-Share', new_email_path, :class => 'button -bright -large'
