%head
  = stylesheet_link_tag 'mailer.css'
%body
  %table.body
    %tbody
      %tr
        %td
          %table.header
            %tbody
              %tr
                %td
                  .blue.panel
                  = mailer_image_tag 'logo.png', alt: 'Benefit Choices logo', class: 'logo', height: '100', width: '100'
                  %h1.centered
                    Benefit Choices
                  .blue.panel
          %table.container
            %tbody
              %tr
                %td
                  = yield
          %table.footer
            %tbody
              %tr
                %td
                  %p.blue.license
                    = "Copyright #{Time.now.year} Benefit Choices. All Rights Reserved.".html_safe
